In [70]:
import pandas as pd

In [71]:
Data = pd.read_csv("Parcels_2016_Data_Full.csv")

F:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (16,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Data.FULL_ADDRESS

0               104 A 104 PUTNAM ST, 02128
1                  197 LEXINGTON ST, 02128
2                  199 LEXINGTON ST, 02128
3                  201 LEXINGTON ST, 02128
4                  203 LEXINGTON ST, 02128
                        ...
166243                   KNOWLES ST, 02135
166244                      LAKE ST, 02135
166245                    4 LAKE ST, 02135
166246    2193 2201 COMMONWEALTH AV, 02135
166247         2203 COMMONWEALTH AV, 02135
Name: FULL_ADDRESS, Length: 166248, dtype: object

In [16]:
Data.FULL_ADDRESS[0][:-7]

'104 A 104 PUTNAM ST'

In [4]:
Data.ZIPCODE

0         2128.0
1         2128.0
2         2128.0
3         2128.0
4         2128.0
           ...
166243    2135.0
166244    2135.0
166245    2135.0
166246    2135.0
166247    2135.0
Name: ZIPCODE, Length: 166248, dtype: float64

In [68]:
start = 16
Address = pd.DataFrame()
Address["address"] = Data.FULL_ADDRESS[start*9999:]
for i in range(len(Data.FULL_ADDRESS[start*9999:])):
    Address["address"][i] = Data.FULL_ADDRESS[start*9999 + i][:-7]
    
Address["city"] = "Boston"
Address["state"] = "MA"
Address["zip_code"] = Data.ZIPCODE[start*9999:].values
Address

                                 address    city state  zip_code
159984            15 17 ALCOTT ST, 02134  Boston    MA    2134.0
159985             85 FRANKLIN ST, 02134  Boston    MA    2134.0
159986             87 FRANKLIN ST, 02134  Boston    MA    2134.0
159987             89 FRANKLIN ST, 02134  Boston    MA    2134.0
159988             91 FRANKLIN ST, 02134  Boston    MA    2134.0
...                                  ...     ...   ...       ...
166243                 KNOWLES ST, 02135  Boston    MA    2135.0
166244                    LAKE ST, 02135  Boston    MA    2135.0
166245                  4 LAKE ST, 02135  Boston    MA    2135.0
166246  2193 2201 COMMONWEALTH AV, 02135  Boston    MA    2135.0
166247       2203 COMMONWEALTH AV, 02135  Boston    MA    2135.0

[6264 rows x 4 columns]

In [69]:
Address.to_csv("Address_"+str(start)+".csv", header = False)