In [1]:
import pandas as pd

In [2]:
Value = pd.read_csv("Parcels_2016_Data_Full.csv")
for idx in range(17):    

    Data = pd.read_csv("GeocodeResults ("+ str(idx+1) +").csv",header = None)

    if (idx+1)*9999 > Value.shape[0]:
        end = Value.shape[0]
    else:
        end = (idx+1)*9999

    dl = pd.DataFrame(Value["AV_BLDG"][idx*9999:end].reset_index(drop = True))
    dr = Data[[0,5,10]]

    value = pd.merge(dl, dr, left_index=True, right_on=0).drop(0, axis = 1)
    value = value[~value[10].isna()]
    value["CT"] = value[10].copy().astype(int).astype(str)

    value.drop(10,axis=1)[value.AV_BLDG != 0].to_csv("CT_Value_"+str(idx+1)+".csv")

F:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (16,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
idx = 3
Data = pd.read_csv("GeocodeResults ("+ str(idx+1) +").csv",header = None)

if (idx+1)*9999 > Value.shape[0]:
    end = Value.shape[0]
else:
    end = (idx+1)*9999

dl = pd.DataFrame(Value["AV_BLDG"][idx*9999:end].reset_index(drop = True))
dr = Data[[0,5,10]]

value = pd.merge(dl, dr, left_index=True, right_on=0).drop(0, axis = 1)
value = value[~value[10].isna()]
value["CT"] = value[10].copy().astype(int).astype(str)

value.drop(10,axis=1)[value.AV_BLDG != 0]

      AV_BLDG     CT
37     919600  70600
42    1270100  70600
44     842000  70600
46     953600  70600
48    1291900  70600
...       ...    ...
1256   590900  20101
1281   768500  20101
1286   449800  20101
1271   566200  20101
1276   556900  20101

[8074 rows x 2 columns]

In [5]:
fd = pd.DataFrame()
for idx in range(17): 
    Data = pd.read_csv("CT_Value_"+str(idx+1)+".csv") 
    fd = pd.concat([fd, Data])
    
fd.drop(fd.columns[0], axis = 1, inplace = True)
fd.reset_index(drop = True, inplace = True)

fd.sort_values(by = "CT",inplace = True)

for i in range(8217):
    fd.CT.iloc[i] = "25025000" + str(fd.CT.iloc[i])

for i in range(8217,82473):
    fd.CT.iloc[i] = "250250" + str(fd.CT.iloc[i])    
    
for i in range(82473,len(fd)):
    fd.CT.iloc[i] = "25025" + str(fd.CT.iloc[i])  
    
fd.reset_index(drop = True)
fd
# fd.to_csv("CT_Value_Final.csv")

        AV_BLDG                     5           CT
127170   591200    -71.14643,42.35872  25025000100
127274   486200  -71.141396,42.360962  25025000100
127273   353100   -71.14145,42.360874  25025000100
127272   486900    -71.14072,42.36056  25025000100
127271   624100   -71.14067,42.360554  25025000100
...         ...                   ...          ...
1169     351500    -71.00056,42.38444  25025981600
19672   2800400    -71.06297,42.35748  25025981700
40790   2058200    -71.09072,42.34503  25025981800
27551   7536400   -71.09369,42.346146  25025981800
27552   4446000    -71.09349,42.34632  25025981800

[127775 rows x 3 columns]

In [7]:
fd.CT=fd.CT.astype(str)
fd.to_csv("CT_Value_Final.csv")

In [230]:
CT.head()

,GEOID10,Sum_Aggrav,Sum_Aircra,Sum_Arson,Sum_Assemb,Sum_Auto_T,Sum_Auto_1,Sum_Ballis,Sum_Bomb_H,Sum_Commer,...,Sum_Harass,Sum_Homici,Sum_Mansla,Sum_Offens,Sum_Reside,Sum_Robber,Sum_Search,Sum_Simple,Sum_Vandal,Sum_Warran
0,25025010405,6,0,0,0,2,1,1,0,0,...,8,0,0,0,2,6,0,20,11,6
1,25025010404,2,0,0,0,2,0,0,0,2,...,0,0,0,0,12,1,0,3,8,2
2,25025010801,1,0,0,0,5,2,0,0,0,...,0,0,0,0,4,1,0,5,9,0
3,25025010702,22,0,0,1,6,2,0,1,7,...,5,0,0,0,2,11,1,62,28,19
4,25025010204,7,0,0,0,1,0,0,0,4,...,2,0,0,0,8,0,0,11,15,11

In [10]:
CT = pd.read_csv("Crimes_CT.csv")
CT.drop(CT.columns[[0,1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,-2,-1]], axis = 1, inplace=True)
CT.GEOID10=CT.GEOID10.astype(str)
fd_CT = pd.merge(fd, CT, left_on = "CT", right_on = "GEOID10").drop("GEOID10", axis = 1)
fd_CT.to_csv("Long_CT_Crimes.csv")

In [14]:
fd_CT["5"][0]

'-71.14643,42.35872'

In [108]:
df = pd.DataFrame()
for idx in range(17):    

    Data = pd.read_csv("GeocodeResults ("+ str(idx+1) +").csv",header = None)

    if (idx+1)*9999 > Value.shape[0]:
        end = Value.shape[0]
    else:
        end = (idx+1)*9999
        
    df = pd.concat([df, Data])
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,4970,"987 997 BENNINGTON ST, Boston, MA, 2128.0",Match,Exact,"997 BENNINGTON ST, BOSTON, MA, 02128","-71.008606,42.386005",640245112.0,R,25.0,25.0,51101.0,1012.0
1,3640,"74 FALCON ST, Boston, MA, 2128.0",Match,Exact,"74 FALCON ST, BOSTON, MA, 02128","-71.03653,42.381973",85711239.0,L,25.0,25.0,50101.0,1001.0
2,4971,"997 1003 SARATOGA ST Apt 2, Boston, MA, 2128.0",Match,Exact,"1003 SARATOGA ST, BOSTON, MA, 02128","-71.0067,42.386623",85714285.0,R,25.0,25.0,51101.0,1012.0
3,2306,"60 WALDEMAR AV, Boston, MA, 2128.0",Match,Exact,"60 WALDEMAR AVE, BOSTON, MA, 02128","-71.00127,42.391422",640245689.0,L,25.0,25.0,51101.0,4010.0
4,3638,"78 FALCON ST, Boston, MA, 2128.0",Match,Exact,"78 FALCON ST, BOSTON, MA, 02128","-71.03634,42.381973",85711239.0,L,25.0,25.0,50101.0,1001.0
5,4969,"BENNINGTON ST, Boston, MA, 2128.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2305,"64 WALDEMAR AV, Boston, MA, 2128.0",Match,Exact,"64 WALDEMAR AVE, BOSTON, MA, 02128","-71.001396,42.39148",640245689.0,L,25.0,25.0,51101.0,4010.0
7,3639,"76 FALCON ST, Boston, MA, 2128.0",Match,Exact,"76 FALCON ST, BOSTON, MA, 02128","-71.03644,42.381973",85711239.0,L,25.0,25.0,50101.0,1001.0
8,2304,"WALDEMAR AV, Boston, MA, 2128.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2303,"WALDEMAR AV, Boston, MA, 2128.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2302,"80 WALDEMAR AV, Boston, MA, 2128.0",Match,Exact,"80 WALDEMAR AVE, BOSTON, MA, 02128","-71.001915,42.391712",640245689.0,L,25.0,25.0,51101.0,4010.0
11,2301,"WALDEMAR AV, Boston, MA, 2128.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2300,"90 WALDEMAR AV, Boston, MA, 2128.0",Match,Exact,"90 WALDEMAR AVE, BOSTON, MA, 02128","-71.002235,42.391857",640245689.0,L,25.0,25.0,51101.0,4010.0
13,3630,"FALCON ST, Boston, MA, 2128.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,4961,"759 BENNINGTON ST, Boston, MA, 2128.0",Match,Exact,"759 BENNINGTON ST, BOSTON, MA, 02128","-71.0119,42.384888",640245129.0,R,25.0,25.0,51000.0,1002.0
15,3631,"69 FALCON ST, Boston, MA, 2128.0",Match,Exact,"69 FALCON ST, BOSTON, MA, 02128","-71.037056,42.381966",85711239.0,R,25.0,25.0,50101.0,1002.0
16,4962,"BENNINGTON ST, Boston, MA, 2128.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3632,"71 FALCON ST, Boston, MA, 2128.0",Match,Exact,"71 FALCON ST, BOSTON, MA, 02128","-71.03697,42.381966",85711239.0,R,25.0,25.0,50101.0,1002.0
18,4963,"BENNINGTON ST, Boston, MA, 2128.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3633,"FALCON ST, Boston, MA, 2128.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4964,"917 BENNINGTON ST, Boston, MA, 2128.0",Match,Exact,"917 BENNINGTON ST, BOSTON, MA, 02128","-71.00983,42.385593",640245112.0,R,25.0,25.0,51101.0,1012.0
21,3634,"75 FALCON ST, Boston, MA, 2128.0",Match,Exact,"75 FALCON ST, BOSTON, MA, 02128","-71.03679,42.38196",85711239.0,R,25.0,25.0,50101.0,1002.0
22,4965,"931 BENNINGTON ST, Boston, MA, 2128.0",Match,Exact,"931 BENNINGTON ST, BOSTON, MA, 02128","-71.00961,42.385666",640245112.0,R,25.0,25.0,51101.0,1012.0
23,2309,"52 WALDEMAR AV, Boston, MA, 2128.0",Match,Exact,"52 WALDEMAR AVE, BOSTON, MA, 02128","-71.00101,42.391304",640245689.0,L,25.0,25.0,51101.0,4010.0
24,3635,"77 FALCON ST, Boston, MA, 2128.0",Match,Exact,"77 FALCON ST, BOSTON, MA, 02128","-71.0367,42.38196",85711239.0,R,25.0,25.0,50101.0,1002.0
25,4966,"951 BENNINGTON ST, Boston, MA, 2128.0",Match,Exact,"951 BENNINGTON ST, BOSTON, MA, 02128","-71.00931,42.38577",640245112.0,R,25.0,25.0,51101.0,1012.0
26,2308,"WALDEMAR AV, Boston, MA, 2128.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,3636,"79 FALCON ST, Boston, MA, 2128.0",Match,Exact,"79 FALCON ST, BOSTON, MA, 02128","-71.036606,42.38196",85711239.0,R,25.0,25.0,50101.0,1002.0
28,4967,"965 BENNINGTON ST, Boston, MA, 2128.0",Match,Exact,"965 BENNINGTON ST, BOSTON, MA, 02128","-71.009094,42.38584",640245112.0,R,25.0,25.0,51101.0,1012.0
29,2307,"56 WALDEMAR AV, Boston, MA, 2128.0",Match,Exact,"56 WALDEMAR AVE, BOSTON, MA, 02128","-71.00114,42.39136",640245689.0,L,25.0,25.0,51101.0,4010.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6234,162238,"142 BIGELOW ST Apt 206, 02135, Boston, MA, 2135.0",Match,Exact,"142 BIGELOW ST, BOSTON, MA, 02135","-71.165855,42.35623",636133553.0,L,25.0,25.0,301.0,1006.0
6235,163568,"461 WASHINGTON ST Apt 105, 02135, Boston, MA, ...",Match,Exact,"461 WASHINGTON ST, BOSTON, MA, 02135","-71.15848,42.349007",85694855.0,R,25.0,25.0,202.0,2003.0
6236,164899,"2001 COMMONWEALTH AV Apt 33, 02135, Boston, MA...",Match,Exact,"2001 COMMONWEALTH AVE, BOSTON, MA, 02135","-71.15888,42.339943",85741679.0,L,25.0,25.0,402.0,1006.0
6237,162233,"142 BIGELOW ST Apt 304, 02135, Boston, MA, 2135.0",Match,Exact,"142 BIGELOW ST, BOSTON, MA, 02135","-71.165855,42.35623",636133553.0,L,25.0,25.0,301.0,1006.0
6238,163565,"461 WASHINGTON ST Apt 201, 02135, Boston, MA, ...",Match,Exact,"461 WASHINGTON ST, BOSTON, MA, 02135","-71.15848,42.349007",85694855.0,R,25.0,25.0,202.0,2003.0
6239,164896,"2001 COMMONWEALTH AV Apt 17, 02135, Boston, MA...",Match,Exact,"2001 COMMONWEALTH AVE, BOSTON, MA, 02135","-71.15888,42.339943",85741679.0,L,25.0,25.0,402.0,1006.0
6240,162232,"142 BIGELOW ST Apt 105, 02135, Boston, MA, 2135.0",Match,Exact,"142 BIGELOW ST, BOSTON, MA, 02135","-71.165855,42.35623",636133553.0,L,25.0,25.0,301.0,1006.0
6241,163566,"461 WASHINGTON ST Apt 205, 02135, Boston, MA, ...",Match,Exact,"461 WASHINGTON ST, BOSTON, MA, 02135","-71.15848,42.349007",85694855.0,R,25.0,25.0,202.0,2003.0
6242,164897,"2001 COMMONWEALTH AV Apt 20, 02135, Boston, MA...",Match,Exact,"2001 COMMONWEALTH AVE, BOSTON, MA, 02135","-71.15888,42.339943",85741679.0,L,25.0,25.0,402.0,1006.0
6243,162235,"142 BIGELOW ST Apt 305, 02135, Boston, MA, 2135.0",Match,Exact,"142 BIGELOW ST, BOSTON, MA, 02135","-71.165855,42.35623",636133553.0,L,25.0,25.0,301.0,1006.0
6244,163563,"455 WASHINGTON ST, 02135, Boston, MA, 2135.0",Match,Exact,"455 WASHINGTON ST, BOSTON, MA, 02135","-71.15807,42.349052",85694855.0,R,25.0,25.0,202.0,2003.0
6245,164894,"1999 COMMONWEALTH AV Apt 29, 02135, Boston, MA...",Match,Exact,"1999 COMMONWEALTH AVE, BOSTON, MA, 02135","-71.15884,42.33993",85741679.0,L,25.0,25.0,402.0,1006.0
6246,162234,"142 BIGELOW ST Apt 148-A, 02135, Boston, MA, 2...",Match,Exact,"142 BIGELOW ST, BOSTON, MA, 02135","-71.165855,42.35623",636133553.0,L,25.0,25.0,301.0,1006.0
6247,163564,"461 WASHINGTON ST Apt 204, 02135, Boston, MA, ...",Match,Exact,"461 WASHINGTON ST, BOSTON, MA, 02135","-71.15848,42.349007",85694855.0,R,25.0,25.0,202.0,2003.0
6248,164895,"2001 COMMONWEALTH AV Apt 14, 02135, Boston, MA...",Match,Exact,"2001 COMMONWEALTH AVE, BOSTON, MA, 02135","-71.15888,42.339943",85741679.0,L,25.0,25.0,402.0,1006.0
6249,163561,"8 OAKLAND ST, 02135, Boston, MA, 2135.0",Match,Exact,"8 OAKLAND ST, BOSTON, MA, 02135","-71.15784,42.349453",85694856.0,L,25.0,25.0,202.0,2003.0
6250,164892,"1997 COMMONWEALTH AV Apt 1997-1, 02135, Boston...",Match,Exact,"1997 COMMONWEALTH AVE, BOSTON, MA, 02135","-71.15878,42.339924",85741679.0,L,25.0,25.0,402.0,1006.0
6251,163562,"2 OAKLAND ST, 02135, Boston, MA, 2135.0",Match,Exact,"2 OAKLAND ST, BOSTON, MA, 02135","-71.15782,42.349167",85694856.0,L,25.0,25.0,202.0,2003.0
6252,164893,"1999 COMMONWEALTH AV Apt 28, 02135, Boston, MA...",Match,Exact,"1999 COMMONWEALTH AVE, BOSTON, MA, 02135","-71.15884,42.33993",85741679.0,L,25.0,25.0,402.0,1006.0
6253,162231,"142 BIGELOW ST Apt 306, 02135, Boston, MA, 2135.0",Match,Exact,"142 BIGELOW ST, BOSTON, MA, 02135","-71.165855,42.35623",636133553.0,L,25.0,25.0,301.0,1006.0
6254,164890,"2003 COMMONWEALTH AV Apt 2003-4, 02135, Boston...",Match,Exact,"2003 COMMONWEALTH AVE, BOSTON, MA, 02135","-71.158936,42.339954",85741679.0,L,25.0,25.0,402.0,1006.0
6255,162230,"142 BIGELOW ST Apt 205, 02135, Boston, MA, 2135.0",Match,Exact,"142 BIGELOW ST, BOSTON, MA, 02135","-71.165855,42.35623",636133553.0,L,25.0,25.0,301.0,1006.0
6256,163560,"OAKLAND ST, 02135, Boston, MA, 2135.0",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6257,164891,"2003 COMMONWEALTH AV Apt 2003-8, 02135, Boston...",Match,Exact,"2003 COMMONWEALTH AVE, BOSTON, MA, 02135","-71.158936,42.339954",85741679.0,L,25.0,25.0,402.0,1006.0
6258,162299,"24 UPCREST RD, 02135, Boston, MA, 2135.0",Match,Exact,"24 UPCREST RD, BOSTON, MA, 02135","-71.16354,42.353",85718294.0,L,25.0,25.0,201.0,3000.0
6259,162298,"28 UPCREST RD, 02135, Boston, MA, 2135.0",Match,Exact,"28 UPCREST RD, BOSTON, MA, 02135","-71.163605,42.35301",85718294.0,L,25.0,25.0,201.0,3000.0
6260,162295,"26 GERRISH ST, 02135, Boston, MA, 2135.0",Match,Exact,"26 GERRISH ST, BOSTON, MA, 02135","-71.16336,42.35576",85694666.0,L,25.0,25.0,301.0,1006.0
6261,162294,"30 GERRISH ST, 02135, Boston, MA, 2135.0",Match,Exact,"30 GERRISH ST, BOSTON, MA, 02135","-71.16345,42.3558",85694666.0,L,25.0,25.0,301.0,1006.0
6262,162297,"4 GERRISH ST, 02135, Boston, MA, 2135.0",Match,Exact,"4 GERRISH ST, BOSTON, MA, 02135","-71.16286,42.35551",85694666.0,L,25.0,25.0,301.0,1006.0
6263,162296,"6 GERRISH ST, 02135, Boston, MA, 2135.0",Match,Exact,"6 GERRISH ST, BOSTON, MA, 02135","-71.1629,42.355534",85694666.0,L,25.0,25.0,301.0,1006.0

In [26]:
pd.read_csv("Long_CT_Crimes.csv").iloc[:,[1,3]]

        AV_BLDG           CT
0        591200  25025000100
1        486200  25025000100
2        353100  25025000100
3        486900  25025000100
4        624100  25025000100
...         ...          ...
127601   351500  25025981600
127602  2800400  25025981700
127603  2058200  25025981800
127604  7536400  25025981800
127605  4446000  25025981800

[127606 rows x 2 columns]

In [16]:
pd.read_csv("Crimes_CT.csv").iloc[:,28:53].describe()

,Sum_Aggrav,Sum_Aircra,Sum_Arson,Sum_Assemb,Sum_Auto_T,Sum_Auto_1,Sum_Ballis,Sum_Bomb_H,Sum_Commer,Sum_Crimin,...,Sum_Harass,Sum_Homici,Sum_Mansla,Sum_Offens,Sum_Reside,Sum_Robber,Sum_Search,Sum_Simple,Sum_Vandal,Sum_Warran
count,179.000000,179.000000,179.000000,179.00000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,...,179.000000,179.000000,179.0,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000
mean,12.877095,0.078212,0.094972,1.03352,6.955307,1.804469,1.463687,0.184358,1.754190,0.229050,...,7.201117,0.368715,0.0,0.698324,7.256983,6.055866,1.396648,27.910615,22.893855,11.251397
std,15.023819,1.046409,0.346617,3.17097,6.538410,2.521989,2.183331,0.657353,3.010454,0.527922,...,5.699773,0.898391,0.0,1.026912,5.924705,9.793211,2.242137,31.456459,19.011378,21.436827
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,0.000000,0.00000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000,0.000000,0.0,0.000000,2.500000,1.000000,0.000000,8.500000,9.000000,2.000000
50%,8.000000,0.000000,0.000000,0.00000,5.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,6.000000,0.000000,0.0,0.000000,6.000000,3.000000,0.000000,20.000000,18.000000,6.000000
75%,17.500000,0.000000,0.000000,1.00000,10.000000,3.000000,2.000000,0.000000,2.000000,0.000000,...,10.000000,0.000000,0.0,1.000000,11.000000,8.500000,2.000000,35.500000,31.000000,12.500000
max,113.000000,14.000000,3.000000,23.00000,45.000000,20.000000,11.000000,7.000000,28.000000,3.000000,...,25.000000,4.000000,0.0,5.000000,28.000000,105.000000,10.000000,286.000000,112.000000,197.000000

In [22]:
a = pd.concat([pd.read_csv("Crimes_CT.csv").iloc[:,28:53],pd.read_csv("Airbnb.csv").price,pd.read_csv("CT_Value_Final.csv").AV_BLDG], axis = 1)

In [24]:
a.iloc[:,:9].describe()

,Sum_Aggrav,Sum_Aircra,Sum_Arson,Sum_Assemb,Sum_Auto_T,Sum_Auto_1,Sum_Ballis,Sum_Bomb_H,Sum_Commer
count,179.000000,179.000000,179.000000,179.00000,179.000000,179.000000,179.000000,179.000000,179.000000
mean,12.877095,0.078212,0.094972,1.03352,6.955307,1.804469,1.463687,0.184358,1.754190
std,15.023819,1.046409,0.346617,3.17097,6.538410,2.521989,2.183331,0.657353,3.010454
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,0.000000,0.00000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,8.000000,0.000000,0.000000,0.00000,5.000000,1.000000,0.000000,0.000000,1.000000
75%,17.500000,0.000000,0.000000,1.00000,10.000000,3.000000,2.000000,0.000000,2.000000
max,113.000000,14.000000,3.000000,23.00000,45.000000,20.000000,11.000000,7.000000,28.000000